---
import "@fontsource/inter/variable.css";
import Header from "~/components/header.astro";
import Splash from "~/components/splash.astro";
import Intro from "~/components/intro.astro";
import Features from "~/components/features.astro";
import Compatibility from "~/components/compatibility.astro";
import Showcase from "~/components/showcase.astro";
import Footer from "~/components/footer.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
// const image = new URL("social.jpg", site);
const siteTitle = "MorMor";
const description = "Build fast websites, faster.";
---

<!DOCTYPE html>
<html lang="pl" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={generator} />
    <title>{siteTitle} - strony internetowe</title>

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 pt-32 pb-28">
      <Intro />
      <Features />
      <Compatibility />
      <Showcase />
    </div>
    <Footer siteTitle={siteTitle} />
  </body>
</html>
